<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Below is a video for reference</h1>

    <% usersWithSecrets.forEach(function(user){ %>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/koEnfJfRr6g?si=FYuEoPdQmYdhbpRI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <%  }) %>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Add a video</a>
  </div>
</div>

<%- include('partials/footer') %>
